layout__$sectionWidth = 1800
layout__$containerWidth = 1100

/*----------------------*/

layout__centered(width = false)
	display block
	max-width 100%
	margin-left auto
	margin-right auto
	
	if width
		width width px

$layout__centered
	layout__centered()

layout__section()
	layout__centered(layout__$sectionWidth)

$layout__section
	layout__section()
	
layout__container()
	layout__centered(layout__$containerWidth)

$layout__container
	layout__container()