$colorUiActive ?= green
$colorUiActiveLight ?= lighten(#669900, 12)

$colorUiEnabled ?= blue
$colorUiEnabledLight ?= darken($colorUiEnabled, -45)

$colorUiDisabled ?= #aaa
$colorUiDisabledLight ?= #ccc