margin-vertical(valueTop, valueBottom = valueTop)
	margin-top valueTop
	margin-bottom valueBottom

margin-horizontal(valueLeft, valueRight = valueLeft)
	margin-left valueLeft
	margin-right valueRight

padding-vertical(valueTop, valueBottom = valueTop)
	padding-top valueTop
	padding-bottom valueBottom

padding-horizontal(valueLeft, valueRight = valueLeft)
	padding-left valueLeft
	padding-right valueRight