layout_section()
	display block
	width _layout_sectionWidth px
	max-width 100%
	margin-left auto
	margin-right auto

$layout_section
	layout_section()
	
layout_container()
	display block
	width _layout_containerWidth px
	max-width 100%
	margin-left auto
	margin-right auto

$layout_container
	layout_container()