.ProductList
	if products.list.length === 0
		if products.loading.running
			.ProductList-message Chargement des produits en cours
		else if products.loading.failed
			.ProductList-error-notice Une erreur est survenu durant le chargement des produits :
			.ProductList-error-message= products.loading.errorMessage
		else
			.ProductList-message Aucun produit
	else
		each product in products.list
			Book_product_list_element(key=('product_link_'+product.isbn))&attributes(product)