@css{
	@font-face {
		font-family: 'afontJRegular';
		src: url('./afontJ-Regular.eot');
		src: url('./afontJ-Regular.eot?#iefix') format('embedded-opentype'),
			url('./afontJ-Regular.woff2') format('woff2'),
			url('./afontJ-Regular.woff') format('woff'),
			url('./afontJ-Regular.ttf') format('truetype'),
			url('./afontJ-Regular.svg#afontJ-Regular') format('svg');
	}

	@font-face {
		font-family: 'afontJItalic';
		src: url('./afontJ-Italic.eot');
		src: url('./afontJ-Italic.eot?#iefix') format('embedded-opentype'),
			url('./afontJ-Italic.woff2') format('woff2'),
			url('./afontJ-Italic.woff') format('woff'),
			url('./afontJ-Italic.ttf') format('truetype'),
			url('./afontJ-Italic.svg#afontJ-Italic') format('svg');
	}
}