_font__mainFontSize = 18

/*---------------------*/

font__pxToRem(pxValue)
	return unit(pxValue/_font__mainFontSize, 'rem')

font__rem-size(sizeValue = _font__mainFontSize)
	font-size : sizeValue px
	font-size : font__pxToRem(sizeValue)

font__base(fontName, size = _font__mainFontSize, transform = false, defaultFont = sans-serif)
	font-family : fontName, defaultFont
	font__rem-size size
	-webkit-font-smoothing: antialiased;
	
	if transform
		text-transform transform

font__line-height(sizeValue = _font__mainFontSize)
	line-height : unit(sizeValue, 'px')
	line-height : font__pxToRem(sizeValue)

font__letter-spacing(spacing)
	letter-spacing : unit(spacing/100, 'px')
	letter-spacing : unit(spacing/1000, 'em')