spritesheet(spritesheetDescriptor, fullSpritesheet = false)
	baseMinDpi = 96
	display: block
	background-repeat: no-repeat
	background-size: (spritesheetDescriptor.width)px (spritesheetDescriptor.height)px
	if fullSpritesheet
		width: (spritesheetDescriptor.width)px
		height: (spritesheetDescriptor.height)px
	backgroundImageUrl = spritesheetDescriptor.url
	background-image: url(backgroundImageUrl)
	for resolution in spritesheetDescriptor.resolutionList
		currentResolution = spritesheetDescriptor[resolution]
		if !currentResolution.isMainResolution
			@media (-webkit-min-device-pixel-ratio: (currentResolution.resolutionValue)), (min-resolution: (currentResolution.minDpi)dpi)
				resolutionBackgroundImageUrl = currentResolution.url
				background-image: url(resolutionBackgroundImageUrl)

sprite(spriteDescriptor)
	width: (spriteDescriptor.width)px
	height: (spriteDescriptor.height)px
	background-position: (-(spriteDescriptor.x)px) (-(spriteDescriptor.y)px)