centered(width = false)
	display block
	max-width 100%
	margin-left auto
	margin-right auto
	
	if width
		width width px

$centered
	centered()

centered_section()
	centered(_centered_sectionWidth)

$centered_section
	centered_section()
	
centered_container()
	centered(_centered_containerWidth)

$centered_container
	centered_container()