_cross_circle_button( 
size = 37px,
width = size,
height = width,
color = false,
crossHeight = 15px
crossWidth = 1px,
borderWidth = 2px,
stateOnCrossScale = 20/15,
stateOnTransitionEasing = linear,
stateOnTransitionDuration = 100ms,
stateOnTransitionDelay = 0ms,
rotationQuartCount = 0
)
	/*
		<a class="..." href="#"></a>
	*/
	
	fullHeight = height //+ borderWidth * 2
	fullWidth = width// + borderWidth * 2

	shape_ellipsis(width, height, transparent)
	border borderWidth solid color
	border-color rgba(color, 0.8)
	position relative
	
	&:before, &:after
		display block
		content ""
		background-color color
		position absolute
		transition transform stateOnTransitionDuration stateOnTransitionEasing stateOnTransitionDelay
	
	&:before
		width crossHeight
		height crossWidth
		top : ((fullHeight - crossWidth) / 2)
		left : ((fullWidth - crossHeight) / 2)
	
	&:after
		width crossWidth
		height crossHeight
		top : ((fullHeight - crossHeight) / 2)
		left : ((fullWidth - crossWidth) / 2)
		
	&.open
		&:before, &:after
			transform scale(stateOnCrossScale) rotate((45 + (90 * rotationQuartCount)) deg)

	&:hover, &:focus
		border-color color